# Pandas

In [2]:
import pandas as pd

In [11]:
data = [
    [1, 'row number one'],
    [10, 'row number two'],
    [100, 'is this a question?']
]

## Creating a Dataframe
A dataframe is a structure that can be accessed by index (row id) or column. When I create it from a memory structure, I can specify the columns names -this is quite convenient-.

### Creating a Dataframe from a structure

In [57]:
df = pd.DataFrame(data=data, columns=['row_number', 'text'])
df

   row_number                 text
0           1       row number one
1          10       row number two
2         100  is this a question?

The first column is the index of the df, then I find my custom data columns.

### Reading a CSV file
Other convenient functions to deal with dataframes at creation time include reading from CSV.

In [109]:
df = pd.DataFrame.from_csv('IRIS.csv', header=0, sep=',', encoding='UTF-8')
df

   sepal_length  sepal_width  petal_length  petal_width            class
0           5.1          3.5           1.4          0.2      Iris-setosa
1           4.9          3.0           1.4          0.2      Iris-setosa
2           5.0          3.6           1.4          0.2      Iris-setosa
3           5.0          2.0           3.5          1.0  Iris-versicolor
4           5.9          3.0           4.2          1.5  Iris-versicolor
5           6.0          2.2           4.0          1.0  Iris-versicolor
6           6.4          2.8           5.6          2.1   Iris-virginica
7           7.2          3.0           5.8          1.6   Iris-virginica
8           6.3          2.8           5.1          1.5   Iris-virginica

## Index, columns, and data
To view the index values, column names, and actual data of the dataframe:

In [67]:
df.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [68]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [69]:
df.values

array([[5.1, 3.5, 1.4, 0.2, 'Iris-setosa'],
       [4.9, 3.0, 1.4, 0.2, 'Iris-setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Iris-setosa'],
       [5.0, 2.0, 3.5, 1.0, 'Iris-versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Iris-versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Iris-versicolor'],
       [6.4, 2.8, 5.6, 2.1, 'Iris-virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Iris-virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Iris-virginica']], dtype=object)

## Slicing and selection

### Slicing rows

In [78]:
df[2:5]

   sepal_length  sepal_width  petal_length  petal_width            class
2           5.0          3.6           1.4          0.2      Iris-setosa
3           5.0          2.0           3.5          1.0  Iris-versicolor
4           5.9          3.0           4.2          1.5  Iris-versicolor

### Selecting columns by name

In [90]:
df['sepal_length']

0    5.1
1    4.9
2    5.0
3    5.0
4    5.9
5    6.0
6    6.4
7    7.2
8    6.3
Name: sepal_length, dtype: float64

### Filtering rows by boolean conditions

I first obtain a dataframe with boolean values for my condition for each row, and then apply it to the data.

In [88]:
df['class']=='Iris-setosa'

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: class, dtype: bool

In [84]:
df[df['class']==('Iris-setosa')]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           5.0          3.6           1.4          0.2  Iris-setosa

I can have multiple conditions. The `and` and `or` clauses are specified as follows:

In [87]:
df[ ((df['class']=='Iris-setosa') & (df['sepal_width']<3.6)) | (df['class']=='Iris-virginica')]

   sepal_length  sepal_width  petal_length  petal_width           class
0           5.1          3.5           1.4          0.2     Iris-setosa
1           4.9          3.0           1.4          0.2     Iris-setosa
6           6.4          2.8           5.6          2.1  Iris-virginica
7           7.2          3.0           5.8          1.6  Iris-virginica
8           6.3          2.8           5.1          1.5  Iris-virginica

#### String conditions
Some operators are applied at the dataframe level (and not at the row level, as we want):

In [99]:
df['class'].__len__()

9

In these cases, we usually need to use the `.str` operator. So then we can apply it as a filtering condition:

In [100]:
df['class'].str.len()

0    11
1    11
2    11
3    15
4    15
5    15
6    14
7    14
8    14
Name: class, dtype: int64

In [110]:
df[df['class'].str.len()>12]

   sepal_length  sepal_width  petal_length  petal_width            class
3           5.0          2.0           3.5          1.0  Iris-versicolor
4           5.9          3.0           4.2          1.5  Iris-versicolor
5           6.0          2.2           4.0          1.0  Iris-versicolor
6           6.4          2.8           5.6          2.1   Iris-virginica
7           7.2          3.0           5.8          1.6   Iris-virginica
8           6.3          2.8           5.1          1.5   Iris-virginica

#### String inclusion

In [113]:
df[df['class'].str.contains('virginica')]

   sepal_length  sepal_width  petal_length  petal_width           class
6           6.4          2.8           5.6          2.1  Iris-virginica
7           7.2          3.0           5.8          1.6  Iris-virginica
8           6.3          2.8           5.1          1.5  Iris-virginica

In [114]:
df[df['class'].str.startswith('Iris')]

   sepal_length  sepal_width  petal_length  petal_width            class
0           5.1          3.5           1.4          0.2      Iris-setosa
1           4.9          3.0           1.4          0.2      Iris-setosa
2           5.0          3.6           1.4          0.2      Iris-setosa
3           5.0          2.0           3.5          1.0  Iris-versicolor
4           5.9          3.0           4.2          1.5  Iris-versicolor
5           6.0          2.2           4.0          1.0  Iris-versicolor
6           6.4          2.8           5.6          2.1   Iris-virginica
7           7.2          3.0           5.8          1.6   Iris-virginica
8           6.3          2.8           5.1          1.5   Iris-virginica

## Mapping functions to each row

In [115]:
class2ix = dict(zip(set(df['class'].values), range(set(df['class'].values).__len__())))

df['class'] = df['class'].apply(lambda x: class2ix[x])

df

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           5.0          3.6           1.4          0.2      0
3           5.0          2.0           3.5          1.0      2
4           5.9          3.0           4.2          1.5      2
5           6.0          2.2           4.0          1.0      2
6           6.4          2.8           5.6          2.1      1
7           7.2          3.0           5.8          1.6      1
8           6.3          2.8           5.1          1.5      1

## Missing data
Missing data is represented by `np.na`. Some utility functions are provided to deal with these values: `df.dropna()`, `df.fillna()`, `df.isnull()`.

## Other topics
1. Merging dataframes: `df.append()`, `df.join()`, `df.merge()`